:root {
  --main-color: rgb(231, 115, 92);
  --main-color2: rgba(231, 115, 92, 0.85);
  --main-color3: rgba(231, 115, 92, 0.7);
  --main-color4: rgba(231, 115, 92, 0.5);
  --main-color5: rgba(231, 115, 92, 0.3);
}

.Header {
  width: 100%;
  background-color: var(--main-color);
  height: 35vh;
  min-height: 300px;
}

.searchBar {
  width: 50vw;
  min-width: 350px;
  border: 0px;
  border-bottom: 1px var(--main-color3) solid;
  font-size: 24px;
}

.searchBar:focus {
  outline: 0;
}

.searchForm {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.searchIcon {
  padding: 7px;
  font-size: 40px;
}

.subTitle {
  margin: 40px 0px;
  text-align: center;
}

.subLine {
  color: var(--main-color);
}

.masonryBox {
  width: 80vw;
  min-width: 400px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.masonryImg {
  width: 100%;
}

.secondSection {
  min-height: 2000px;
}

.lastBox {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 24px;
}
