.auction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  min-height: 2000px;
}

.auction > div,
.auctionTop > div {
  width: 1280px;
  margin: 10px 0;
}

@media (max-width: 1600px) {
  .auction > div,
  .auctionTop > div {
    width: 80%;
  }
}
