.navBox {
  width: 100%;
  height: 75px;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 2px solid rgba(254, 111, 59, 0.3);
}

.navList,
.bugerList {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.navList > div > a:hover,
.bugerList > a:hover,
.profile > a:hover {
  color: rgba(254, 111, 59, 0.7);
}

.navList > div > .active,
.bugerList > .active,
.profile > .active {
  color: rgba(254, 111, 59, 0.7);
}

@media (max-width: 768px) {
  .navList {
    display: none;
  }

  .bugerMenu,
  .menu {
    display: block;
    margin-left: 40px;
    cursor: pointer;
  }

  .bugerMenu > div,
  .menu > div {
    width: 25px;
    height: 3px;
    background-color: rgba(254, 111, 59, 0.3);
    margin: 5px;
    transition: all 0.3s ease;
  }

  .menu > .burgerLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu > .burgerLine2 {
    opacity: 0;
  }

  .menu > .burgerLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .menuBoxVisible {
    width: 180px;
    position: absolute;
    left: 0;
    top: 77px;
    background-color: rgb(255, 255, 255);
  }

  .menuBoxHidden {
    display: none;
  }

  .bugerList {
    position: flex;
    top: 50px;
    left: 50px;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .bugerList {
    display: none;
  }

  .navBox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bugerMenu,
  .menu {
    display: none;
  }

  .menuBox {
    width: 100%;
    height: fit-content;
  }

  .navList {
    flex-direction: row;
    align-items: center;
  }

  .navList > .left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .navList > .center {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navList > .right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
  }

  .profile > a {
    margin: 0px;
  }

  .profile > p {
    white-space: nowrap;
  }
}

a {
  text-decoration: none;
  margin: 20px;
  color: black;
}
