.navBox {
  width: 100%;
  height: 55px;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgba(231, 115, 92, 0.3);
}

.navList,
.bugerList {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}

.navList > div > a:hover,
.bugerList > a:hover,
.profile > a:hover {
  color: rgb(231, 115, 92);
}

.navList > div > a,
.bugerList > a,
.profile > a {
  text-decoration: none;
  color: black;
  margin: 20px;
  white-space: nowrap;
}

.navList > div > .active,
.bugerList > .active,
.profile > .active {
  color: rgb(231, 115, 92);
}

.btn {
  margin: 20px;
  padding: 0;
  border: none;
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-align: left;
}

.btn:hover {
  color: rgb(231, 115, 92);
}

@media (max-width: 768px) {
  .navList {
    display: none;
  }

  .navSearchBar {
    display: none;
  }

  .bugerMenu,
  .menu {
    display: block;
    margin-left: 40px;
    cursor: pointer;
  }

  .bugerMenu > div,
  .menu > div {
    width: 25px;
    height: 3px;
    background-color: rgb(231, 115, 92);
    margin: 5px;
    transition: all 0.3s ease;
  }

  .menu > .burgerLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu > .burgerLine2 {
    opacity: 0;
  }

  .menu > .burgerLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .menuBoxVisible {
    width: 180px;
    position: absolute;
    left: 0;
    top: 53px;
    background-color: rgb(255, 255, 255);
  }

  .menuBoxHidden {
    display: none;
  }

  .bugerList {
    position: flex;
    top: 50px;
    left: 50px;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .bugerList {
    display: none;
  }

  .navBox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .bugerMenu,
  .menu {
    display: none;
  }

  .menuBox {
    width: 100%;
    height: fit-content;
  }

  .navList {
    flex-direction: row;
    align-items: center;
  }

  .navList > .left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .navList > .center {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navList > .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
  }

  .profile > a {
    margin: 0px;
    font-size: small;
  }

  .profile > p {
    white-space: nowrap;
    margin: 0px;
    font-size: small;
  }
}

.logoImg {
  height: 50px;
}

/* searchBar */
.searchIcon {
  font-size: 18px;
  margin: 10px;
}

.navSearchBar {
  position: absolute;
  top: -355px;
  left: 0;
  transition: all 0.35s;
  width: 100%;
  background-color: white;
  border: 2px solid white;
  /* z-index: -1; */
}

input[id="searchBar"] + label {
  cursor: pointer;
}

input[id="searchBar"]:checked + label + .navSearchBar {
  top: 54px;
}

input[id="searchBar"] {
  display: none;
}
