.Body {
  display: flex;
  min-height: 1000px;
}

@media (max-width: 768px) {
  .ranking {
    display: none !important;
  }

  .feed {
    width: 100% !important;
  }
}

@media (max-width: 1600px) {
  .ranking {
    width: 30%;
    position: sticky;
    top: 500px;
  }

  .feed {
    width: 70%;
  }
}

.ranking {
  width: 30%;
  position: sticky;
  top: 500px;
}

.startEffect {
  animation: loadEffect2 0.5s ease-in-out;
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.feed {
  width: 70%;
  padding: 20px 40px;
}

.lastBox {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 24px;
}
