.Chatting {
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  height: calc(100vh - 55px);
}

.emptyBox {
  width: 50%;
  height: calc(100vh - 55px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
}
