.Chatting {
  background-color: gray;
  display: flex;
  justify-content: center;
  height: calc(100vh - 55px);
}

.emptyBox {
  width: 50%;
  height: calc(100vh - 55px);
  background-color: gainsboro;
}
