.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 25px;
  margin: 20px;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 50%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.loginInput {
  height: 25px;
  border: 1.5px solid rgb(0, 0, 0);
}

.loginInput:focus-visible {
  height: 25px;
  outline: 0px solid rgba(254, 111, 59, 1);
  border: 1px solid rgba(254, 111, 59, 1);
}

.loginSubmit {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  padding: 5px 20px;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  margin: 10px;
  /* color: rgba(254, 111, 59, 1); */
}

.loginSubmit:hover {
  /* background: rgba(254, 111, 59, 0.2); */
  border: 1px solid rgba(254, 111, 59, 1);
  color: rgba(254, 111, 59, 1);
}
